<div class="product__social">
    <p class="productsocialtext">Share 
    <span class="facebook-like">
        <iframe src="//www.facebook.com/plugins/like.php?href={{ shop.url }}{{ product.url }}&amp;send=false&amp;layout=button_count&amp;width=120&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:76px; height:21px;" allowTransparency="true"></iframe>
    </span>
    <span class="tweet-btn">
        <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ shop.url }}{{ product.url }}" data-count="none" {% if settings.twitter_account != "" %}data-via="{{ settings.twitter_account }}"{% endif %}>Tweet</a><script src="//platform.twitter.com/widgets.js"></script>
    </span>
    <span class="google-plus">
        <g:plusone size="medium" annotation="none"></g:plusone>
    </span>
    </p>
</div>

<script>
(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = '//apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>